<div *ngIf="xpn">
    <div class="row">
        <div class="col-12 text-center">
            <h2>... {{xpn.text}} ...</h2>
            <h4 >
                <span class="text-primary">
            <ngb-rating [(rate)]="xpn.rating" [readonly]="'readonly'"></ngb-rating>
        </span>
            </h4>
            <span>{{xpn.rating}}</span>
        </div>
    </div>

    <div class="row" *ngIf="xpn.meanings.length">
        <div class="col-12">
            <h4 class="text-center text-success mt-lg-5">Meanings</h4>
        </div>
    </div>

    <div class="row" *ngIf="xpn.meanings.length">
        <div class="col-12 text-center border pt-2 mb-3" *ngFor="let mng of xpn.meanings">
            <h6 class="my-4">--- {{mng.text}} ---</h6>
            <h6 class="text-primary" *ngIf="mng.examples.length">Examples</h6>
            <p *ngFor="let xmpl of mng.examples">
                {{xmpl.text}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="text-center">
                <a class="btn btn-outline-primary" routerLink="/edit/{{xpn.id}}">Edit Expression</a>
            </p>
            <p class="text-center">
                <a class="btn btn-success" routerLink="/home">Back to Home</a>
            </p>
        </div>
    </div>
</div>